.logo-buy {
  display: flex;
  background-color: black;
  justify-content: space-between;
}
.logo1 {
  width: 50%;
}
.logo1 img {
  width: 192px;
  height: 20px;
  margin-top: 19px;
}
.btn {
  height: 58px;
  box-sizing: border-box;
  padding-top: 9px;
  padding-right: 12px;
}
.btn button {
  border: none;
  background-color: rgb(51, 177, 51);
  padding: 7px 24px;
  color: #ffffff;
  font-size: 15px;
  border-radius: 4px;
}
.modal-header h1 {
  color: black !important;
}
body {
  font-family: varela round, montserrat, quicksand, sans-serif;
  font-size: 14px;
  line-height: 1.75;
}
.main-nav {
  color: #ffffff !important;
}
.main {
  max-width: 1170px;
  color: #ffffff !important;
}
.jobhunt-logo1 {
  height: 70px;
}
.jobhunt-logo2 {
  width: 140px;
}
#aim {
  font-size: 1.7rem;
  margin-top: 5px;
  color: #ffffff;
}
.jobhunt h3 {
  margin-left: 18px;
  color: #ffffff;
}
.dropdown-toggle {
  font-size: 16px;
  color: #ffffff;
  margin-left: 5px;
}
.navbar-nav .nav-link:hover {
  color: #ffffff !important;
}
.button1 {
  width: 136.34px;
  height: 38px;
  border: none;
  background-color: #f80657;
  border-radius: 3px;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 1;
}
.button1 p {
  margin-top: 16px;
  font-size: 25px;
}
.post-button {
  width: 136.34px;
  height: 38px;
}
.register-login {
  margin-top: 16px;
  width: 202px;
}
.header-menu {
  display: flex;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  width: 202px;
}
.menu-item-register a i {
  margin-left: 14px;
  color: #ffffff;
}
.header-menu li a {
  text-decoration: none;
}
.secondary-menu-text {
  margin-left: 5px;
  color: #ffffff;
}
.menu-item-login i {
  margin-left: 25px;
  color: #ffffff;
}
/** mobile screen special**/
.mobile-screen {
  color: #ffffff !important;
}
.mobile-row {
  height: 70px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler i {
  color: #ffffff;
  height: 1.7rem;
  width: 1.7rem;
}
#aim2 {
  font-size: 1.7rem;
  color: #ffffff;
}
.jobhunt2 h3 {
  margin-left: 18px;
  color: #ffffff;
  margin-bottom: 0px !important;
}
.register-login2 {
  margin-top: 16px;
  width: 202px;
}
.header-menu2 {
  display: flex;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
}
.menu-item-register2 a i {
  margin-left: 14px;
  color: #ffffff;
  font-size: 18px;
}
.header-menu2 li a {
  text-decoration: none;
}

.menu-item-login2 i {
  margin-left: 25px;
  color: #ffffff;
  font-size: 18px;
}
/****/
.site-content-page-header {
  height: 666.5px;
  margin-bottom: 84px;
  color: #ffffff !important;
  border-bottom: 1px solid #e9f0f3;
  background: linear-gradient(
      45deg,
      rgb(139, 145, 221, 0.8),
      rgb(16, 25, 93, 0.8),
      rgb(16, 25, 93, 0.8)
    ),
    url("../images/image1.jpg");
  padding-top: 70px;
  margin-top: -70px;
}
h1 {
  color: white;
}
/** page-header-inner**/
.jh-scroll-to {
  position: absolute;
  left: 50%;
  border-radius: 500px;
  transform: translate(-50%, -50%);
  top: 89.5%;
  z-index: 2;
  box-sizing: border-box;
}
.jh-scroll-to a {
  width: 130px;
  height: 130px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  transition: 1s;
  text-decoration: none;
}
.jh-scroll-to a:hover {
  border-color: #f80657;
}
.jh-scroll-to a:hover i {
  background-color: #f80657;
  color: #fff;
  transition: 1s;
}
.jh-scroll-to a i {
  color: #fb236a;
  transition: 1s;
  font-size: 30px;
  padding: 15px 19px 15px 19px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 50px 0 rgba(32, 32, 32, 0.15);
}
/**extra**/
.highlights-section1 {
  color: black;
  font-family: system-ui;
}
.highlights-section2 {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
}
.highlights-section1 h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  font-family: system-ui;
}
.highlights-section1 p {
  font-size: 18px;
  color: black;
  text-align: center;
  font-family: system-ui;
  line-height: 2.5;
  font-size: 15px;
}
.highlight-items1 {
  position: relative;
  padding: 0;
  height: 205px;
  border: 2px solid black !important;
}
.highlight-items {
  display: block;
  text-align: center;
  z-index: 2;
  transition: all 0.4s ease 0s;
  color: #384047;
  height: 205px;
}
.highlight-items i {
  font-size: 63px;
  color: #8b91dd;
  margin-bottom: 20px;
  transition: all 0.4s ease 0s;
  margin-top: 20px;
}
.highlight-items h6 {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 6px;
  font-weight: 600;
  font-family: system-ui;
  color: #384047;
}
.highlight-items div p {
  color: #f80657;
  font-size: 14px;
  margin-bottom: -10px;
}
.browser-button a {
  color: #f80657;
  border: 2px solid #f80657;
  border-radius: 10px;
  padding: 8px 28px;
  text-decoration: none;
}
.browser-button a:hover {
  border: 2px solid #f80657;
  padding: 8px 29px;
}
/****/
.account-section {
  background: linear-gradient(
      45deg,
      rgb(139, 145, 221, 0.8),
      rgb(16, 25, 93, 0.8),
      rgb(16, 25, 93, 0.8)
    ),
    url("../images/image2.jpg");
  padding-top: 87px;
  padding-bottom: 113px;
  margin-bottom: 70px;
  color: #ffffff;
}
.account-button h2 {
  font-size: 45px;
  font-family: system-ui;
}
.account-button p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 47px;
  letter-spacing: 0.4px;
}
.account-button a {
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 6px;
  padding: 14px 40px;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-size: 1rem;
}
/****/

.feature-heading h2 {
  font-size: 35px;
  font-family: system-ui;
}
.feature-heading p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 0.4px;
  color: #888;
}
.feature-section {
  height: 138px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature-logo img {
  width: 60px;
  height: 60px;
}
.feature-main-text {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.feature-text h4 {
  color: #f80657;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}
.feature-text h5 {
  font-size: 17px;
  color: #f80657;
}

.feature-text p {
  color: #717f86;
  margin-bottom: 0;
}
.feature-text p span {
  margin-left: 5px;
}
.feature-button {
  height: 78px;
  width: 120px;
}
.feature-button button {
  color: #0f834d;
  border: 2px solid #0f834d;
  text-decoration: none;
  border-radius: 4px;
  font-size: 13px;
  height: 33px;
  width: 119.13px !important;
  background-color: #ffffff;
}
.feature-button .btn1 {
  color: #f80657;
  border: 2px solid #f80657;
}
.feature-button .btn2 {
  color: #007bff;
  border-color: #007bff;
}
.feature-button .btn3 {
  color: #007bff;
  border-color: #007bff;
}
.feature-button .btn5 {
  color: #007bff;
  border-color: #007bff;
}
.feature-button p {
  color: #717f86;
  padding-top: 20px;
  margin-bottom: 0;
  float: right;
}
.row .feature-hovor:hover {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}
/**Candidates section**/
.carousel-item {
  background-image: url("../images/image1.jpg");
  height: 521px;
}
.heading-main {
  width: 100%;
}
/**Compaines section**/
.compaines1,
.compaines2,
.compaines3,
.compaines4,
.compaines5 {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.compaines-heading h2 {
  font-size: 35px;
  font-family: system-ui;
}
.compaines-heading p {
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 0.4px;
  color: #888;
}
/**Article section**/
.main-article {
  background-image: url("../images/7.png");
  width: 100vw;
  position: relative;
  margin-left: calc(-50vw + 50% - 8px);
  padding: 42px 0 50px;
  background-color: #f4f5fa;
  font-family: sans-serif;
}
.main-article .container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.section-header {
  text-align: center;
  margin-bottom: 50px;
}
.section-header h3 {
  font-size: 30px;
  margin: 0.2em 0;
  line-height: 1.5;
  color: #202020;
}
.section-header p {
  font-size: 16px;
  color: #888;
}
.post-columns-3 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.post1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  margin-bottom: 30px;
}
.post1-inner {
  border: 1px solid #e8ecec;
  border-top: 0;
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  background-color: #fff;
}
.post-thumbnail {
  border-radius: 6px 6px 0 0;
}
.content-body {
  text-align: center;
  border-top: 0;
  border-radius: 0px 0px 6px 6px;
  padding: 0 15px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  height: inherit;
  position: relative;
}
.entry-header {
  text-align: center;
}
.entry-meta {
  padding: 20px 22px;
  display: flex;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  margin-bottom: 7px;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.posted-on {
  margin-left: 0;
  line-height: 1;
  margin-bottom: 6px;
  margin-right: 10px;
  font-size: 13px;
  text-align: center;
}
.posted-on time {
  color: #fb236a;
  line-height: 1;
  font-size: 13px;
}
.comments-link {
  margin-left: 0;
  line-height: 1;
  margin-bottom: 6px;
  margin-right: 30px;
  border-left: 1px solid;
  padding-left: 11px;
}
.comments-link a {
  color: #fb236a;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
}
.entry-titles {
  font-size: 16px;
  margin-bottom: 16px !important;
  font-weight: 500;
  margin: 0 0;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}
.entry-titles a {
  color: #232323;
  text-decoration: none;
}
.entry-content {
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  color: #747272;
}
.entry-readmore {
  border-top: 1px solid #e8ecec;
}
.entry-readmore a {
  border: none;
  font-size: 13px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fb236a;
  padding: 10px 26px;
  border-radius: 4px;
  text-decoration: none;
}
/** banner block**/
.banner-block {
  padding: 40px 0;
  background-color: #8b91dd;
}
.banner-header h3 {
  font-size: 30px;
  margin: 0.2em 0;
  line-height: 1.5;
  color: #fff;
}
.banner-header p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.5px;
}
/**footer section**/
.footer-main1 {
  background-color: #24324a;
  color: #a9b4c7;
}
.footer-main2 {
  max-width: 1170px;
}
.footer-main2 .footer-inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 56px 0;
}
.column1 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.column1-logo {
  margin-bottom: 30px;
}
#aim2 {
  font-size: 1.6rem;
  margin-top: 5px;
  color: #ffffff;
}
.column1-logo h3 {
  margin-left: 18px;
  color: #ffffff;
}
.column1-text {
  margin-bottom: 30px;
}
.column1-text p {
  font-size: 13px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}
.column1-text p a {
  color: #a9b4c7;
  text-decoration: none;
}
.column1-links {
  margin-bottom: 30px;
  color: #a9b4c7;
}
.column1-links ul {
  list-style-type: none;
  padding-left: 0;
}
.column1-links ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
  margin-right: 20px;
}
.column1-links ul li a {
  color: #a9b4c7;
  text-decoration: none;
}
.column1-links ul li a i {
  width: 16px;
  font-size: 16px;
  text-align: center;
}
.column2 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.column2-main {
  margin-bottom: 30px;
}
.column2-main span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}
.list-inner1 {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1rem;
}
.list-inner1 li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 11px;
  color: #a9b4c7;
}
.list-inner1 li i {
  margin-right: 8px;
}
.column3 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.column3-main {
  margin-bottom: 30px;
}
.column3-main span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}
.list-inner2 {
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1rem;
}
.list-inner2 li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 11px;
  color: #a9b4c7;
}
.list-inner2 li i {
  margin-right: 8px;
}
.column4 {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.image8 {
  margin-bottom: 30px;
}
.image8 a {
  text-decoration: none;
}
.image8 a img {
  max-width: 100%;
  height: auto;
}
.image9 {
  margin-bottom: 30px;
}
.image9 a {
  text-decoration: none;
}
.image9 a img {
  max-width: 100%;
  height: auto;
}
/**New page like About us**/
/**about us**/
.about-main-container {
  background-color: #f6f9fa;
  border-bottom: 1px solid #e9f0f3;
  margin-bottom: 40px;
}
.about-us h3 {
  font-size: 28px;
  color: #202020;
}
.home-about span {
  font-size: 14px;
  color: #7b8b8e;
}
/****/
.about-header {
  text-align: left;
  margin-bottom: 20px;
}
.about-header h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0.2em 0;
  line-height: 1.5;
  color: #202020;
}
.about-contant {
  margin-bottom: 40px;
}
.contant-image {
  width: 435px;
  margin-left: 40px;
  float: right;
}
.contant-image img {
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  max-width: 100%;
}
.contant {
  color: #7b8b8e;
}
/****/
.highbeam-items {
  height: 105px;
  margin-bottom: 50px;
}
.highbeam-items i {
  padding: 24px;
  margin-top: 0;
  font-size: 33px;
  color: #7b8b8e;
  border: 1px solid #e6e7ef;
  border-radius: 50%;
  margin-right: 20px;
}
.service-text h6 {
  font-size: 16px;
  color: #202020;
  font-weight: 500;
  margin-top: 0;
}
.service-text p {
  color: #888 !important;
}
.highbeam-items i:hover {
  color: white;
  background-color: #f80657;
  border: 1px solid #f80657;
}
